@import "../../static/assets/scss/font-awesome";
@import "../../static/assets/scss/bootstrap";

// for slider component 'react-slick'
@import "../../static/assets/scss/slick.scss";
@import "../../static/assets/scss/slick-theme.scss";

@import "../../static/assets/scss/animate.scss";
// @import "../../static/assets/scss/themify.scss";

// main theme styles
@import "../../static/assets/scss/color3.scss";

// custom styles
#shipping-information h3,
#shipping-information h4 {
    margin: 2rem 0 1rem 0;
}

#shipping-information ul li,
#ts-and-cs-information ul li {
    display: list-item;
}

#returns-information p,
#ts-and-cs-information p {
    margin: 1rem 0;
}

#ts-and-cs-information ul li {
    color: #777;
}

#ts-and-cs-information h3 {
    color: #000;
}