.ticker-enter {
    opacity: 0;
}

.ticker-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}

.ticker-exit {
    opacity: 1;
}

.ticker-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}

.news-ticker {
    font-size: large;
}

.ticker-text {
    display: inline-block;
}